<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
    <h1>Добавить пользователя</h1>
    <a href="{% url 'users_list' %}">← Назад к панели</a>

    <form method="post">
        {% csrf_token %}

        <p>
            <label>Логин:<br>
                <input type="text" name="login" required maxlength="128">
            </label>
        </p>

        <p>
            <label>Пароль:<br>
                <input type="password" name="password" required maxlength="128">
            </label>
        </p>

        <p>
            <label>Фамилия:<br>
                <input type="text" name="lname" required maxlength="128">
            </label>
        </p>

        <p>
            <label>Имя:<br>
                <input type="text" name="fname" required maxlength="128">
            </label>
        </p>

        <p>
            <label>Отчество:<br>
                <input type="text" name="patronimyc" maxlength="128">
            </label>
        </p>

        <p>
            <label>Телефон:<br>
                <input type="text" name="phone" required maxlength="12">
            </label>
        </p>

        <p>
            <label>Роль:<br>
                <select name="role">
                    <option value="admin">Admin</option>
                    <option value="dispatcher">Dispatcher</option>
                </select>
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="is_active" checked>
                Активен
            </label>
        </p>

        <p>
            <button type="submit">Сохранить</button>
        </p>
    </form>
</body>
</html>