{% extends "base_admin.html" %}
{% block title %}Редактировать район{% endblock %}

{% block content %}
<h1>Редактировать район</h1>
<p><a href="{% url 'districts_list' %}">← Назад к списку</a></p>

<form method="post">
    {% csrf_token %}

    <p>
        <label>Название:<br>
            <input type="text" name="name" value="{{ district.name }}" required>
        </label>
    </p>

    <p>
        <label>Базовый коэффициент:<br>
            <input type="number" step="0.01" name="base_coefficient" value="{{ district.base_coefficient }}" required>
        </label>
    </p>

    <p>
        <button type="submit">Сохранить</button>
    </p>
</form>
{% endblock %}